@model IEnumerable<GymApp.Models.BookClass>

@{
    ViewBag.Title = "ReadOnlyIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Available Slots</h2>

<table class="table table-condensed table-bordered table-responsive">
    <tr>
        <th>
            Consultation Reason
        </th>
        <th>
           Pastor
        </th>
        <th>
            Date and time
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.classtype.typeclass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trainer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datepicker)
            </td>
            @if (item.UserBooked == null)
            {
                <td class="btn btn-success">
                    @Html.ActionLink("Book", "Book", new { id = item.id })
                </td>
            }
            else
            {
                <td class="badge badge-success">
                    Booked
                </td>
            }

        </tr>
    }

</table>

